.cursor-p{
  cursor: pointer;
}
.m-r-24{
  margin-right: 24px;
}
.m-b-24{
  margin-bottom: 24px;
}
.w-200{
  width: 200px !important;
}
body.reader-song-font, body.reader-song-font .container .article .title, body.reader-song-font .history-mode .view-area, body.reader-song-font .history-mode .view-area pre, body.reader-song-font .main .kalamu-area, body.reader-song-font .main .markdown .text, body.reader-song-font .main .title, body.reader-song-font .preview .title, body.reader-song-font input, body.reader-song-font select, body.reader-song-font textarea {
  font-family: Georgia,Times New Roman,Times,Songti SC,serif;
}
.bg-b{
  background: #000000;
}
